<!DOCTYPE html>
<html>
  <head>
    <title>FLASK CSV File Upload</title>
  </head>
  <body>
    <h1>Upload your CSV file</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Submit"></p>
  <input type="radio" id="time1" name="time" value="1">
  <label for="time1"> Upload Daily</label><br>
  <input type="radio" id="time2" name="time" value="7">
  <label for="time2"> Upload Weekly</label><br>
  <input type="radio" id="time3" name="time" value="30">
  <label for="time3"> Upload Monthly</label><br><br>
</form>
  </body>
</html>